<h1>Push Notifications using Firebase</h1>

<!--Button to obtain the device token ID generated-->
<button (click)="showToken()">Retrieve Token</button>
<br>
<!--Textarea that contains the generated token-->
<textarea placeholder="Token instance will populate here">{{token}}</textarea>
<br>

<button (click)="getDataFromFb()">Get Data from Firebase</button>
<br>
<h2>Token List</h2>
<div [hidden]="!hideToken">
<ul>
  <li *ngFor="let item of itemsDisplay | async">
    {{ item.tokenID }}
  </li>
</ul>
</div>